<!-- History Section -->
    <section id="history">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">History</h2>
                    <h3 class="section-subheading text-muted">A brief timeline view of the history of our team.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        {% for event in site.timeline %}
                        <li class="{{ event.class }}">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/history/{{ event.image }}" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>{{ event.date }}</h4>
                                    <h4 class="subheading">{{ event.header }}</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">{{ event.details }}</p>
                                </div>
                            </div>
                        </li>
                        {% endfor %}

                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                    <a class="page-scroll" href="#contact" style="color:black;">
                                    <h4>Be Part
                                    <br>Of Our
                                    <br>Story!</h4></a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>