<!-- Team Section -->
    <section id="team" class="bg-light-gray team-info">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Team Info</h2>
                    <h3 class="section-subheading text-muted">Team 5730 is a competitive robotics team based in Southwest Missouri. We are currently a school club at Monett High School.</h3>
                </div>
            </div>
           
            <div class="row">
                    <div class="col-md-4">
                        <div class="media single-content content-bg">
                            <div class="media-left pull-left">
                                <i class="fa fa-calendar"></i>
                            </div>
                            <div class="media-body">
                                <h3>Meeting Schedule</h3>
                                <p>
                                    Due to the COVID pandemic, we are only meeting on Tuesday nights from 6-8PM. We are limiting the number of outside visitors and all attendees must wear masks.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="media single-content content-bg">
                            <div class="media-left pull-left">
                                <i class="fa fa-compass"></i>
                            </div>
                            <div class="media-body">
                                <h3>Meeting Location</h3>
                                <p>
                                    We meet in the auxillary building at the Monett High School. This building is located directly west of the gym and has two large rollup doors facing the gym. Please enter through the doorway on the south side of the building.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="media single-content content-bg">
                            <div class="media-left pull-left">
                                <i class="fa fa-users"></i>
                            </div>
                            <div class="media-body">
                                <h3>Demographics</h3>
                                <div id="chart_gender"></div>
                                <br>
                                <div id="chart_grades"></div>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </section>
