<!-- Team Section -->
    <section id="team" class="bg-light-gray team-info">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Team Info</h2>
                    <h3 class="section-subheading text-muted">Team 5730 is a competitive robotics team based in Southwest Missouri. We are currently a school club at Monett High School.</h3>
                </div>
            </div>
           
            <div class="row">
                    <div class="col-md-4">
                        <div class="media single-content content-bg">
                            <div class="media-left pull-left">
                                <i class="fa fa-calendar"></i>
                            </div>
                            <div class="media-body">
                                <h3>Meeting Schedule</h3>
                                <p>
                                    <table class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <th scope="col">Day</th>
                                                <th scope="col">Time</th>
                                                <th scope="col">Topic</th>
                                            </tr>
                                        </thead>
                                    <tr>
                                        <td colspan="3">
                                        <p class="text-uppercase">Pre-season:</p>
                                        <p>Oct. 3rd - Dec. 15th, 2017</p>
                                    </td>
                                    </tr>
                                    <tr>
                                        <td>Tuesday</td>
                                        <td>6PM - 8PM</td>
                                        <td>CAD</td>
                                    </tr>
                                    <tr>
                                        <td>Thursday</td>
                                        <td>6PM - 8PM</td>
                                        <td>Technical Topics</td>
                                    </tr>
                                    <tr>
                                        <td colspan="3">
                                        <p class="text-uppercase">Build Season:</p>
                                        <p>Jan. 6th - Feb. 20th, 2018</p>
                                    </td>
                                    </tr>
                                    <tr>
                                        <td>Monday</td>
                                        <td>6PM - 8PM</td>
                                        <td>Design/ Build</td>
                                    </tr>
                                    <tr>
                                        <td>Tuesday</td>
                                        <td>6PM - 8PM</td>
                                        <td>Design/ Build</td>
                                    </tr>
                                    <tr>
                                        <td>Thursday</td>
                                        <td>6PM - 8PM</td>
                                        <td>Design/ Build</td>
                                    </tr>
                                    <tr>
                                        <td>Friday</td>
                                        <td>6PM - 8PM</td>
                                        <td>Design/ Build</td>
                                    </tr>
                                    <tr>
                                        <td>Saturday</td>
                                        <td>9AM - 3PM</td>
                                        <td>Design/ Build</td>
                                    </tr>
                                    <tr>
                                    <td colspan="3">
                                        <p class="text-uppercase">Competition Season:</p>
                                        <p>Feb. 20th - Mar. 31st, 2018</p>
                                    </td>
                                    </tr>
                                    <tr>
                                        <td>Tuesday</td>
                                        <td>6PM - 8PM</td>
                                        <td>Design/ Build</td>
                                    </tr>
                                    <tr>
                                        <td>Thursday</td>
                                        <td>6PM - 8PM</td>
                                        <td>Design/ Build</td>
                                    </tr>
                                    <tr>
                                        <td>Saturday</td>
                                        <td>9AM - 3PM</td>
                                        <td>Design/ Build</td>
                                    </tr>
                                    <tr>
                                        <td colspan="3">Competition: Mar. 28-31st, 2018</td>
                                        </tr>
                                    <tr>
                                        <td colspan="3"><p class="text-uppercase">POST-SEASON:</p></td>
                                    </tr>
                                    <tr>
                                        <td colspan="3">Missouri State Championship: TBD</td>
                                    </tr>
                                    <tr>
                                        <td colspan="3">Banquet: TBD</td>
                                    </tr>
                                    <tr>
                                        <td colspan="3"><p class="text-uppercase">Off-Season:</p></td>
                                    </tr>
                                    <tr>
                                        <td>Cowtown</td>
                                        <td>TBD</td>
                                        <td>Off-season competition</td>
                                    </tr>
                                    <tr>
                                        <td>Gateway</td>
                                        <td>TBD</td>
                                        <td>Off-season competition</td>
                                    </tr>
                                    </table>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="media single-content content-bg">
                            <div class="media-left pull-left">
                                <i class="fa fa-compass"></i>
                            </div>
                            <div class="media-body">
                                <h3>Meeting Location</h3>
                                <p>
                                    We meet in the auxillary building at the Monett High School. This building is located directly west of the gym and has two large rollup doors facing the gym. Please enter through the doorway on the south side of the building.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="media single-content content-bg">
                            <div class="media-left pull-left">
                                <i class="fa fa-users"></i>
                            </div>
                            <div class="media-body">
                                <h3>Demographics</h3>
                                <div id="chart_gender"></div>
                                <br>
                                <div id="chart_grades"></div>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </section>
